body {
  margin: 0;
}
.nav {
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: black;
  padding: 0 150px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
}
