body {
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  margin: 0 auto;
  color: white;
  background-color: black;
  height: 100px;
}
.nav a {
  color:white;
  text-decoration: none;
  padding-right: 50px;
}
.exams p {
  margin: 10px 50px;
}
.examsList {
  display:flex;
  justify-content: center;
  padding: 20px;
}
