html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  margin: 0 auto;
  color: white;
  background-color: #000000;
  height: 100px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding-right: 50px;
}

.text-wrap {
  white-space: normal;
}

.exams p {
  margin: 10px 50px;
}

.examsList {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.exams-info {
  margin: 0;
  padding: 20px;
  text-align: left;
  width: 100%;
  height: 100%;
}

.spinner {
  color: black;
}
